<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',    filename='css/style.css') }}">
    <title>MontPY Hall Problem</title>
</head>
<body>
    <div id="doors">
        {% include 'doors.html' %}
    </div>

    <div id="instruction">
        <p>Pick a Door!</p>
        <div class="choices" id="choices">
            <button id="yes" onclick="server.choose_door(true)">YES</button>
            <button id="no" onclick="server.choose_door(false)">NO</button>
        </div>
        <button id="play-again" onclick="server.reset()">PLAY AGAIN?</button>
    </div>

    <div id="stats">
        <div id="switches">
            <p>Total Switches: <span class="total">0</span></p>
            <div class="bar">
                <span class="win-rate">0%</span>
            </div>
        </div>
        <div id="stays">
            <p>Total Stays: <span class="total">0</span></p>
            <div class="bar">
                <span class="win-rate">0%</span>
            </div>
        </div>
    </div>


    <div id="controls">
        <h3>Options</h3>
        <button id="autorun" class="play" onclick="server.automode()">Auto run</button>
    </div>

    <script> 
        server.start()
    </script>
</body>

</html>